# Mac
.DS_Store

# Eclipse
bin/
.settings/
.classpath

# Vim
*.un~

# Intellij
.idea/
target/

# Maven
log/

# Gradle
.gradle/
build/
connectfour.iml
connect-four.iml

# sbt
.cache
.history
.lib/
dist/*
lib_managed/
src_managed/
project/boot/
project/plugins/project/
project/target/
project/project/
logs/
project/.sbtserver
.sbtserver/

# Scala-IDE specific
.scala_dependencies
.worksheet

# Sonar
.sonar/

# Application
connectfour.log
test.log

